.playlist {
    position: fixed;
    bottom: 0;
    top: calc(100% - 95px);
    z-index: 9999;
    width: 100%;
    transition: 0.3s;
    background-color: rgb(27, 27, 27);
    color: white;
    display: flex;
    flex-direction: column;
}

.playlist.open {
    height: 100vh;
    top: 0px;
}

.top-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    height: 95px;
}

.player-container {
    flex: 1;
    overflow: hidden;
}

.lists-container {
    display: flex;
    flex-direction: column;
    overflow: auto;
    flex: 1;
}

.divider {
    margin-top: 15px !important;
    margin-left: 5px !important;
}

.playlist .list {
    overflow: unset !important;
    height: unset !important;
}