.play-list-item-container {
    display: flex;
    flex-direction: row;
    margin: 10px 5px 10px 5px;
}

.play-list-item-row {
    display: flex;
    flex-direction: row;
}

.play-list-item-row.tools {
    justify-content: flex-end;
    align-items: center;
}

.play-list-item-container.playing {
    background-color: rgba(255, 166, 0, 0.2);
}

.icon.playing {
    display: none;
}

.play-list-item-container img {
    width: 180px;
    margin-right: 10px;
    object-fit: contain;
}

.play-list-item-container .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.play-list-item-container .title {
    font-size: 16px;
    color: white;
    margin-bottom: 5px;
    font-weight: bolder;
}

.play-list-item-container .subtitle {
    font-size: 13px;
    color: silver;
}